/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh; /* La page prendra au moins 100% de la hauteur de la fenêtre */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(to right, #860ed6, #4505f5); /* Dégradé de vert */
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem 0;
    min-height: calc(100vh - 162px); /* La hauteur minimale du contenu principal est calculée en soustrayant la hauteur du header et du footer */
}

section {
    margin-bottom: 4rem; /* Augmentation de la marge entre les sections */
}

footer {
    background: linear-gradient(to right, #700daa, #2a0add); /* Dégradé de vert */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Styles spécifiques */
#presentation {
    text-align: center;
}

#presentation p {
    margin-bottom: 2rem;
}

.site-presentation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.site-feature {
    flex-basis: 30%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.site-feature:hover {
    transform: translateY(-5px);
}

.site-feature h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.site-feature p {
    color: #555;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #7b23ee;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #007bff;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .site-feature {
        flex-basis: 100%;
    }
}
